<!-- _includes/header.html -->
<header>
  {% include time-remaining.html %}
  <nav class="mobile-nav show-on-mobiles">
    {% include primary-nav-items.html %}
  </nav>
  <div class="grid">
    <div class="unit one-third center-on-mobiles">
      <h1>
        <a target="_blank" rel="noopener noreferrer" href="https://www.qlik.com/us/products/data-integration-products">
          <span class="sr-only">QlikTestDrive</span>
          <img src="{{ "/images/logos/qlik-logo-rgb.png" | prepend: base }}"  width="150" height="75" alt="Qlik Logo">
        </a>
      </h1>

    </div>
    <nav class="main-nav unit two-thirds align-center hide-on-mobiles">
      {% include primary-nav-items.html %}
    </nav>
  </div>
</header>
